@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mauris quam, egestas quis porta quis, rhoncus in neque. Nulla porta augue tortor, vitae vestibulum felis tempor a. Fusce imperdiet maximus venenatis. Fusce bibendum egestas arcu non blandit. Duis suscipit orci at velit congue ullamcorper. Nunc dictum elit dapibus, gravida velit porta, sodales nulla. In ut imperdiet risus. Duis ante libero, auctor aliquet lobortis sed, tincidunt et nisi. Vestibulum ac semper felis, a efficitur mi.</p>
</div>
@section scripts {
    
}